html {
    font-size: 14px;
    overflow-x: hidden;
}

body {
    margin: 0px;
    width: 100vw;
    height: 100vh;

    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    /* marges */
    margin: 0px;
}

/* header */
header {
    /* taille */
    width: 100%;
    height: 5vw;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header .boite {
    /* taille */
    width: 55%;
    height: 50%;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .boite a {
    /* taille */
    width: auto;
    height: 100%;
}

header .boite a img {
    /* taille */
    width: auto;
    height: 100%;
}

/* header navigation */
header nav {
    /* taille */
    width: 18%;
    height: auto;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    /* couleur */
    color: black;
    /* texte */
    text-decoration: none;
    font-weight: 300;
    font-size: 1.2rem;
}

/* main */

/* banniere page contact */
/* banniere */
.banniere-haut-contact {
    /* taille */
    width: 100%;
    height: 16vw;
    /* background */
    background-color: #F3976C;
    background-size: contain;
    background-position: -40px -10px;
    background-attachment: fixed;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* position */
    position: relative;
}

.banniere-haut-contact .fond {
    /* taille */
    width: 100%;
    height: 100%;
    /* position */
    position: absolute;
    /* background */
    background-image: url("../assets/texture-paper.png");
    /* opacité */
    opacity: 1;
    /* z-index */
    z-index: 0;
}

.banniere-haut-contact .fond2 {

    /* taille */
    width: 100%;
    height: 100%;
    /* position */
    position: absolute;
    /* background */
    background-image: url("../assets/dots-bg.png");
    /* opacité */
    opacity: 1;
    /* z-index */
    z-index: 3;
}

#main-contact {
    /* taille */
    width: 100%;
    height: auto;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* formulaire page contact */

form {
    /* taille */
    width: 20%;
    height: auto;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* marges */
    margin-top: 25px;
}

form input {
    /* taille */
    width: 100%;
    height: auto;
    /* outline */
    outline: none;
}

form textarea {
    /* taille */
    width: 100%;
    height: auto;
    /* marges */
    margin-bottom: 7vh;
    /* outline */
    outline: none;
}

form label {
    /* marges */
    margin-top: 15px;
    margin-bottom: 2px;
    /* texte */
    font-weight: 500;
    font-size: 1.25rem;
}

/* banniere */
.banniere-haut {
    /* taille */
    width: 100%;
    height: 23vw;
    /* background */
    background-image: url("../assets/la-chouette-agence-banniere.webp");
    background-size: contain;
    background-position: -40px -10px;
    background-attachment: fixed;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* position */
    position: relative;
}

.banniere-haut div {
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* index */
    z-index: 2;
}

.banniere-haut div h1 {
    /* texte */
    color: black;
    font-weight: 600;
}

.banniere-haut div a {
    /* texte */
    color: black;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25rem;
    /* marges */
    padding: 14px 30px;
    margin-top: 30px;
    /* background */
    background-color: #F3976C;
    /* border */
    border-radius: 100px;
}

.banniere-haut .fond {
    /* taille */
    width: 100%;
    height: 100%;
    /* position */
    position: absolute;
    /* background */
    background-image: url("../assets/texture-paper.webp");
    /* opacité */
    opacity: 0.7;
    /* z-index */
    z-index: 0;
}

.banniere-haut div img {
    width: 100px;
    height: auto;
}

/* presentation */
.presentation {
    /* taille */
    width: 100%;
    height: auto;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position */
    position: relative;
}

.presentation .domaine {
    /* taille */
    width: auto;
    height: auto;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.presentation .domaine div {
    /* taille */
    width: 100%;
    height: 100%;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation .domaine div p {
    /* texte */
    text-align: center;
    font-size: 11px;
    /* marges */
    margin-top: 20px;
}

.presentation h2 {
    /* texte */
    text-align: center;
    font-weight: 400;
    font-size: 1.7rem;
    /* couleur */
    color: rgb(93, 93, 93);
    /* marge */
    margin-top: 60px;
    margin-bottom: 40px;
}

.presentation .domaine div .icon-lg {
    /* taille */
    font-size: 60px;
    /* marges */
    margin-bottom: 20px;
}

.presentation .citation {
    /* marge */
    margin-top: 60px;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.presentation .citation h4 {
    /* texte */
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    font-style: italic;
    /* couleur */
    color: rgb(93, 93, 93);
    /* marges */
    margin-bottom: 5px;
}

.presentation .citation p {
    /* marges */
    margin-bottom: 60px;
    /* couleur */
    color: rgb(93, 93, 93);
}

.explication {
    /* position */
    position: relative;
    /* taille */
    width: 100%;
    height: auto;
    /* background */
    background-image: url("../assets/image-de-presentation.webp");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* marges */
    padding-top: 90px;
    padding-bottom: 90px;
    overflow: hidden;
}

.explication .fond2 {
    /* position */
    position: absolute;
    /* background */
    background-image: url("../assets/texture-paper.webp");
    background-blend-mode: hue;
    color: black;
    /* taille */
    width: 100%;
    height: 100%;
    /* z-index */
    z-index: 0;
    /* opacité */
    opacity: 0.7;
}

.explication div {
    /* taille */
    width: 30%;
    height: auto;
    /* texte */
    text-align: center;
    /* background */
    background-color: transparent;
    /* marges */
    padding: 0px 40px;
    padding-top: 50px;
    padding-bottom: 60px;
    /* z-index */
    z-index: 1;
    /* position */
    position: relative;
    /* overflow */
    overflow: hidden;
}

.explication div .fond3 {
    /* position */
    position: absolute;
    top: 0px;
    left: 0px;
    /* background */
    background-color: black;
    /* taille */
    width: 100%;
    height: 100%;
    /* z-index */
    z-index: -1;
    /* opacité */
    opacity: 0.5;
}

.explication h2 {
    /* marges */
    margin-bottom: 30px;
    /* couleur */
    color: black;
    /* texte */
    font-weight: 400;
}

.explication p {
    /* marge */
    margin-bottom: 20px;
    /* texte */
    font-weight: 400;
    color: black;
    font-size: 1.2rem;
}

.explication a {
    /* texte */
    color: black;
    text-decoration: underline;
    font-weight: 500;
    font-size: 1.4rem;
}

.portfolio {
    /* taille */
    width: 100%;
    height: 100%;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background */
    background-image: url("../assets/lines-h2-bg.webp");
}

.portfolio h2 {
    /* marge */
    margin-top: 100px;
    /* texte */
    text-align: center;
    font-weight: 400;
    color: rgb(93, 93, 93);
}

.portfolio .grille {
    /* marge */
    margin-top: 50px;
    padding-bottom: 20vh;
    /* taille */
    width: 30%;
    height: auto;
    /* grid */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    /* texte */
    text-align: center;
}

.portfolio .grille h3 {
    /* texte */
    font-weight: 500;
    text-transform: uppercase;
    /* marges */
    margin-top: 10px;
}

.portfolio .grille p {
    /* texte */
    font-size: 1rem;
    /* marges */
    margin-top: 10px;
}

.portfolio .grille .boite2 {
    /* taille */
    width: 100%;
    height: 70%;
    /* position */
    position: relative;
}

.portfolio .grille img {
    /* taille */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio .grille .fond4 {
    /* background */
    background-color: black;
    /* position */
    position: absolute;
    top: 0px;
    /* taille */
    width: 100%;
    height: 100%;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* opacité */
    opacity: 0;
    /* transition */
    transition: 300ms ease-in-out;
}

.portfolio .grille .fond4 .rond {
    /* background */
    background-color: black;
    top: 0px;
    /* taille */
    width: 80px;
    height: 80px;
    /* bordures */
    border-radius: 100px;
}

.portfolio .grille .fond4 i {
    /* position */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* taille */
    font-size: 2rem;
}

.portfolio .grille div:hover .fond4 {
    /* curseur */
    cursor: pointer;
    /* opacité */
    opacity: 0.5;
}

.banniere-bas {
    /* taille */
    width: 100%;
    height: 34vh;
    /* background */
    background-image: url("../assets/la-chouette-agence-banniere.webp");
    background-repeat: no-repeat;
    background-position: center -260px;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* texte */
    text-align: center;
    /* position */
    position: relative;
}

.banniere-bas h3 {
    /* texte */
    font-size: 1.6rem;
    font-weight: 500;
    /* couleur */
    color: black;
    /* z-index */
    z-index: 1;
}

.banniere-bas a {
    /* marges */
    margin-top: 4vh;
    padding: 12px 25px;
    /* texte */
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 500;
    /* couleur */
    color: black;
    /* background */
    background-color: #F3976C;
    /* bordures */
    border-radius: 100px;
    /* z-index */
    z-index: 1;
}

.banniere-bas .fond6 {
    /* background */
    background-image: url("../assets/texture-paper.webp");
    /* position */
    position: absolute;
    top: 0px;
    left: 0px;
    /* taille */
    width: 100%;
    height: 100%;
    /* opacité */
    opacity: 0.7;
}

#footer-index {
    /* taille */
    width: 100%;
    height: auto;
    /* background */
    background-color: #F3976C;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-index p {
    /* couleur */
    color: black;
    /* texte */
    font-size: 1.2rem;
    /* marges */
    margin-top: 35px;
}

#footer-index .lien {
    /* taille */
    width: 20%;
    height: auto;
    /* marges */
    margin-top: 15px;
    /* flex-box */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#footer-index .lien a {
    /* texte */
    text-decoration: none;
    color: black;
}

#footer-index .lien a i {
    /* taille */
    font-size: 2.2rem;
    /* couleur */
    color: #fad4c2;
    /* marges */
    margin-top: 10px;
}

#footer-index .lien a i:hover {
    /* couleur */
    color: white;
}

#footer-index .partenaire {
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* marges */
    margin-bottom: 50px;
    margin-top: 25px;
}

#footer-index .lien-partenaire {
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* marges */
    margin-top: 10px;
}

#footer-index .partenaire h4 {
    color: black;
}

#footer-index .lien-partenaire a {
    /* marges */
    margin: 5px 0px;
    /* texte */
    color: black;
    text-decoration: none;
}

#footer-contact {
    /* taille */
    width: 100%;
    height: auto;
    /* background */
    background-color: #F3976C;
    /* flex-box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer-contact {
    /* couleur */
    color: black;
    /* texte */
    font-size: 1.2rem;
    /* marges */
    padding: 30px 0px;
}

/* responsive desktop */
@media screen and (max-width: 1760px) {
    header nav {
        width: 25%;
    }

    .portfolio .grille {
        width: 50%;
    }
}

@media screen and (max-width: 1260px) {
    header nav {
        width: 35%;
    }

    .explication div {
        width: 40%;
    }

    .portfolio .grille {
        width: 50%;
    }
}

@media screen and (max-width: 1160px) {
    .banniere-haut div img {
        width: 70px;
    }

    .banniere-haut div h1 {
        font-size: 1.5rem;
    }

    .banniere-haut div a {
        font-size: 1rem;
        padding: 10px 26px;
    }

    .portfolio .grille {
        width: 70%;
    }
}

/* responsive tablette */
@media screen and (max-width: 1024px) {
    .explication div {
        width: 60%;
    }

    .portfolio .grille {
        width: 70%;
    }

    form {
        width: 50%;
    }
}

@media screen and (max-width: 925px) {
    header nav {
        width: 45%;
    }

    .explication div {
        width: 60%;
    }

    .portfolio .grille {
        width: 70%;
    }
}

@media screen and (max-width: 815px) {
    .presentation h2 {
        font-size: 1.5rem;
    }

    .presentation .domaine div .icon-lg {
        font-size: 40px;
    }

    .presentation .domaine div p {
        font-size: 0, 5rem;
    }

    .presentation .citation h4 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 540px) {
    header {
        height: 10vh;
    }

    header .boite {
        width: auto;
        height: 60%;
    }

    header nav {
        display: none;
    }

    .banniere-haut {
        height: 25vh;
    }

    .presentation h2 {
        font-size: 1.4rem;
        margin-top: 40px;
    }

    .presentation .domaine {
        flex-direction: column;
    }

    .presentation .domaine div .icon-lg {
        font-size: 60px;
        margin-bottom: 10px;
    }

    .presentation .domaine div h3 {
        font-size: 1.8rem;
    }

    .presentation .domaine div p {
        margin-top: 10px;
        margin-bottom: 30px;
        width: 70%;
    }

    .presentation .citation {
        width: 90%;
        margin-top: 10px;
    }

    .presentation .citation h4 {
        font-size: 0.9rem;
    }

    .presentation .citation p {
        font-size: 0.8rem;
    }

    .explication h2 {
        font-size: 1.2rem;
    }

    .explication div {
        width: 70%;
        padding: 0px 20px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .portfolio h2 {
        margin-top: 50px;
    }

    .portfolio .grille {
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        padding-bottom: 50px;
    }

    .banniere-bas {
        height: 30vh;
    }

    .banniere-bas h3 {
        font-size: 1.3rem;
    }

    #footer-index .lien {
        width: 50%;
    }
}

@media screen and (max-width: 320px) {
    .banniere-haut {
        height: 40vh;
    }

    .presentation h2 {
        width: 90%;
        font-size: 1rem;
    }

    .portfolio .grille h3 {
        font-size: 1rem;
    }

    .portfolio .grille p {
        font-size: 0.8rem;
    }

    #footer-index p {
        font-size: 0.9rem;
    }
}